.hero {
    padding: 80px 0 30px; 
    overflow: hidden;

    &__title {
        color: $black;
        font-size: 44px;
        span {
            color: $purple;
        }
    }
    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 20px;
    }
    &__text {
        font-size: 16px;
        line-height: 2;
        margin: 32px 0 0;
    }
    &__social-items {
        margin: 40px 0 0;
    }
    &__social-item {
        font-size: 22px;
        transition: color 0.2s ease 0s;
        & + & {
            margin: 0 0 0 32px
        }
        @media (any-hover: hover) {
            &:hover {
                color: $purple
            }
        }
    }
    &__image {
        justify-self: flex-end;
        width: 100%;
        max-width: 336px;
        position: relative;
        &:before {
            background-color: $purple;
            border-radius: 16px;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: rotate(-9.55deg);
        }
    }
    &__image-container {
        background: #EAE6FE url("../images/lines.svg") top right / 58% no-repeat;
        border-radius: 16px;
        position: relative;
        padding-top: calc(400 / 336 * 100%);
        width: 100%;
        overflow: hidden;
        img {
            position: absolute;
            bottom: 0;
            left: 0;
            max-width: 100%;
        }
    }
    &._anim {
        .hero__title {
            opacity: 0;
            transform: translateY(120%);
        }
        .hero__subtitle {
            opacity: 0;
            transform: translateX(-25%);
        }
        .hero__image {
            opacity: 0;
            transform: translate(0, 25%);
        }
        .hero__body {
            opacity: 0;
            transform: translate(0, 50%);
        }
    }

    &._anim_start {
        .hero__title {
            opacity: 1;
            transform: translateY(0);
            transition: all 0.8s ease 0s;
        }
        .hero__subtitle {
            opacity: 1;
            transform: translateY(0);
            transition: all 0.8s ease .15s;
        }
        .hero__image {
            opacity: 1;
            transform: translate(0, 0);
            transition: all 0.8s ease 0.5s;
        }
        .hero__body {
            opacity: 1;
            transform: translate(0, 0);
            transition: all 0.8s ease .8s;
        }
    }

    @media (max-width: 1280px) {
        &__image {
            margin: 0 20px;
        }
    }
    @include gap {
        &__container {
            grid-template-columns: 1fr;
            row-gap: 30px;
        }
        &__text, &__social-items {
            margin: 20px 0 0
        }
        &__image {
            justify-self: center;
            width: calc(100% - 20px);
        }
        &._anim {
            .hero__image {
                opacity: 0;
                transform: translate(0, 15%);
            }
            .hero__body {
                opacity: 0;
                transform: translate(15%, 0);
            }
        }
    }
}