.skills {
    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 112px 0 0;
    }
    &__education {
        position: relative;
        &:before {
            background-color: #F1F1F1;
            content: "";
            position: absolute;
            top: 8px;
            left: 12px;
            width: 1px;
            height: calc(100% - 8px);
        }
    }
    &__text {
        color: $grey;
        font-family: "Inter", serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2;
    }
    &__list {
        margin: 64px 0 0;
        &._anim .skill__progress span {
            transform: scale(0, 1);
        }
        &._anim_start .skill__progress span{
            transform-origin: left;
            transform: scale(1);
            transition: transform 1s cubic-bezier(.26,.76,.53,.94) 0s;
        }
    }


    @include gap {
        &__body {
            grid-template-columns: auto;
            row-gap: 40px;
            margin-top: 50px;
        }
    }


}
 //645bca
.timeline {
    padding: 0 0 0 40px;
    position: relative;
    & + & {
        margin: 64px 0 0;
    }
    &__university {
        font-family: "Plus Jakarta Sans", serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.25;
    }
    &__degree {
        color: $grey;
        font-family: "Inter", serif;
        font-size: 14px;
        line-height: 1.2;
        margin: 10px 0 0;
    }
    &__period {
        font-family: "Inter", serif;
        font-size: 14px;
        line-height: 1.2;
        margin: 24px 0 0;
    }
    &:before {
        background-color: #F1F1F1;
        border-radius: 50%;
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        width: 16px;
        height: 16px;
        z-index: 3;
    }
    &:last-child {
        &:after {
            background-color: $white;
            content: "";
            position: absolute;
            top: 0;
            left: 12px;
            width: 1px;
            height: 100%;
            z-index: 2;
        }
    }
}

.skill {
    &__name {
        font-family: "Inter", serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2;
    }
    &__progress {
        background-color: #F5F3FE;
        border-radius: 2px;
        margin: 16px 0 0;
        height: 8px;
        overflow: hidden;
        span {
            background-color: $purple;
            border-radius: 0 2px 2px 0;
            display: block;
            height: 100%;
        }
    }
    & + & {
        margin: 40px 0 0
    }
}