section.blog.page__screen
    .blog__container.container
        .blog__header.section-header 
            p.section-header__subtitle My articles
            h2.section-header__title Personal Blog
        .blog__articles
            article.blog__article.article._anim(data-anim-point="4")
                a.article__img(href="#")
                    img(src="./images/article-01.jpg", alt="article")
                .article__body
                    h4.article__title How to prototype in figma
                    span.article__date July 15, 2021
                    p.article__text 
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id magna nec ante scelerisque laoreet. Fusce finibus ...
                    a.article__more(href="#") Continue Reading 
            article.blog__article.article._anim(data-anim-point="4")
                a.article__img(href="#")
                    img(src="./images/article-02.jpg", alt="article")
                .article__body
                    h4.article__title Being more productive with Notion.
                    span.article__date Aug 8, 2020
                    p.article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id magna nec ante scelerisque laoreet. Fusce finibus ...
                    a.article__more(href="#") Continue Reading 
            article.blog__article.article._anim(data-anim-point="4")
                a.article__img(href="#")
                    img(src="./images/article-03.jpg", alt="article")
                .article__body
                    h4.article__title Beginners guide to adobe illustrator
                    span.article__date Feb 19, 2021
                    p.article__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id magna nec ante scelerisque laoreet. Fusce finibus ...
                    a.article__more(href="#") Continue Reading 