section.contacts.page__screen
    .contacts__container.container 
        .contacts__content 
            form.contacts__form(action="#" name="subscribe-form")
                input.contacts__input.contacts__input_require(type="text" name="name" placeholder="Name")
                input.contacts__input.contacts__input_require(type="email" name="email" placeholder="E-mail")
                textarea.contacts__input.contacts__input_textarea(placeholder="Message" name="", cols="30", rows="10")
                button.contacts__button(type="submit") Send Message
            .contacts__list
                .contact-item 
                    .contact-item__icon.icon-location 
                    .contact-item__title Address
                    a.contact-item__text(href="#") 3424 Layman Avenue, Fayetteville, NC
                .contact-item 
                    .contact-item__icon.icon-phone
                    .contact-item__title Phone
                    a.contact-item__text(href="tel:5014141541") (501) 414-1541
                .contact-item 
                    .contact-item__icon.icon-mail
                    .contact-item__title E-Mail
                    a.contact-item__text(href="mailto:devchapter@gmail.com") devchapter@gmail.com
    .contacts__popup 
        .contacts__popup-container 
            .contacts__popup-content
                h3.contacts__popup-title Thank you!
                .contacts__popup-close
                p.contacts__popup-text 
                    | We won’t spam you with commercial offers. This is only for a sign-in via e-mail and major announcements