section.experience.page__screen
    .experience__container.container 
        .section-header 
            p.section-header__subtitle Career Path
            h2.section-header__title Work Experices
        nav.experience__navigation 
            button.experience__tab-button.experience__tab-button_active(type="button" data-tab="apple") Apple
            button.experience__tab-button(type="button" data-tab="microsoft") Microsoft
            button.experience__tab-button(type="button" data-tab="facebook") Facebook
            button.experience__tab-button(type="button" data-tab="slack") Slack
            span.experience__navigation-indicator
        .experience__content 
            .experience__tab-body.experience__tab-body_active.tab-body.apple 
                .tab-body__title Front-end Developer <span>Apple .Inc</span>
                .tab-body__location California, United States
                .tab-body__date Nov 2020 - Present 路 Full-time
                .tab-body__tags 
                    span.tab-body__tag.tag Swift
                    span.tab-body__tag.tag Go
                ul.tab-body__list 
                    .tab-body__list-item Improving overall website performance for mobile users.
                    .tab-body__list-item Collaborate with back-end developers and web designers to improve usability
                    .tab-body__list-item Add voice search feature for mobile app.
                    .tab-body__list-item Developing an admin panel to manage contents, users, products and ...
            .experience__tab-body.tab-body.microsoft
                .tab-body__title Front-end Developer <span>Microsoft .Inc</span>
                .tab-body__location California, United States
                .tab-body__date Nov 2020 - Present 路 Full-time
                .tab-body__tags 
                    span.tab-body__tag.tag Swift
                    span.tab-body__tag.tag Go
                ul.tab-body__list 
                    .tab-body__list-item Improving overall website performance for mobile users.
                    .tab-body__list-item Collaborate with back-end developers and web designers to improve usability
                    .tab-body__list-item Add voice search feature for mobile app.
                    .tab-body__list-item Developing an admin panel to manage contents, users, products and ...
            .experience__tab-body.tab-body.facebook
                .tab-body__title Front-end Developer <span>Swift .Inc</span>
                .tab-body__location California, United States
                .tab-body__date Nov 2020 - Present 路 Full-time
                .tab-body__tags 
                    span.tab-body__tag.tag Swift
                    span.tab-body__tag.tag Go
                ul.tab-body__list 
                    .tab-body__list-item Improving overall website performance for mobile users.
                    .tab-body__list-item Collaborate with back-end developers and web designers to improve usability
                    //- .tab-body__list-item Add voice search feature for mobile app.
                    //- .tab-body__list-item Developing an admin panel to manage contents, users, products and ...
            .experience__tab-body.tab-body.slack
                .tab-body__title Front-end Developer <span>Slack .Inc</span>
                .tab-body__location California, United States
                .tab-body__date Nov 2020 - Present 路 Full-time
                .tab-body__tags 
                    span.tab-body__tag.tag Swift
                    span.tab-body__tag.tag Go
                ul.tab-body__list 
                    .tab-body__list-item Improving overall website performance for mobile users.
                    .tab-body__list-item Collaborate with back-end developers and web designers to improve usability
                    .tab-body__list-item Add voice search feature for mobile app.
                    .tab-body__list-item Developing an admin panel to manage contents, users, products and ...
