footer.footer
    .container 
        ul.footer__social
            li.footer__social-item 
                a.footer__social-link.icon-instagram(href="#") 
            li.footer__social-item 
                a.footer__social-link.icon-github(href="#") 
            li.footer__social-item 
                a.footer__social-link.icon-twitter(href="#") 
            li.footer__social-item 
                a.footer__social-link.icon-linkedin(href="#") 
        .footer__copyright © 2022  -  DevChapter