header.header 
    .header__container.container
        a.header__logo(href="#")
            img(src="./images/logo.svg" alt="logo")
        nav.header__nav 
            ul.header__menu-list 
                li.header__menu-item 
                    a.header__menu-link(href="#") Services
                li.header__menu-item 
                    a.header__menu-link(href="#") Portfolios
                li.header__menu-item 
                    a.header__menu-link(href="#") Experience
                li.header__menu-item 
                    a.header__menu-link(href="#") Blog
        a.header__button(href="#") Resume
        .header__burger 
            span