section.hero.page__screen._anim(data-anim-point = 2)
    .hero__container.container
        .hero__content
            .hero__header.section-header 
                p.hero__subtitle.section-header__subtitle My name is
                h1.hero__title.section-header__title Alex <span>Smith.</span>
            .hero__body
                .hero__text 
                    | Creative front-end developer with more than +5 years of experience in enterprise companies and startups. Proficient in JavaScript, Angular, and React. Passionate about UI/UX
                .hero__social-items 
                    a.hero__social-item.icon-instagram(href="#")
                    a.hero__social-item.icon-github(href="#")
                    a.hero__social-item.icon-twitter(href="#")
                    a.hero__social-item.icon-linkedin(href="#")
        .hero__image
            .hero__image-container 
                img(src="./images/alex.png", alt="Alex Smith")