section.portfolio.page__screen
    .container 
        .portfolio__header
            .section-header 
                p.section-header__subtitle My Works
                h2.section-header__title Featured Portfolios
            .portfolio__slider-controls.swiper-controls 
                .portfolio__slider-arrow-prev.swiper-arrow.swiper-arrow_left.icon-arrow 
                .portfolio__slider-arrow-next.swiper-arrow.swiper-arrow_right.icon-arrow
        .portfolio__content._anim(data-anim-point="4") 
            .portfolio__slider.swiper 
                .swiper-wrapper 
                    .swiper-slide.portfolio-item 
                        a.portfolio-item__img(href="#")
                            img(src="./images/portfolio-01.jpg", alt="Porfolio") 
                        .portfolio-item__body 
                            a.portfolio-item__title(href="#") Agency Website.
                            .portfolio-item__info
                                span.tag WordPress
                                button.portfolio-item__link.icon-share-link(type="button")
                    .swiper-slide.portfolio-item 
                        a.portfolio-item__img(href="#")
                            img(src="./images/portfolio-02.jpg", alt="Porfolio") 
                        .portfolio-item__body 
                            a.portfolio-item__title(href="#") Dashboard Website.
                            .portfolio-item__info
                                span.tag React
                                button.portfolio-item__link.icon-share-link(type="button")
                    .swiper-slide.portfolio-item 
                        a.portfolio-item__img(href="#")
                            img(src="./images/portfolio-03.jpg", alt="Porfolio") 
                        .portfolio-item__body 
                            a.portfolio-item__title(href="#") Support Center Website.
                            .portfolio-item__info
                                span.tag PHP
                                button.portfolio-item__link.icon-share-link(type="button")
                    .swiper-slide.portfolio-item 
                        a.portfolio-item__img(href="#")
                            img(src="./images/portfolio-01.jpg", alt="Porfolio") 
                        .portfolio-item__body 
                            a.portfolio-item__title(href="#") Agency Website.
                            .portfolio-item__info
                                span.tag WordPress
                                button.portfolio-item__link.icon-share-link(type="button")
