section.services.page__screen
    .services__container.container 
        .section-header 
                p.section-header__subtitle Services
                h2.section-header__title Specialized In
        .services__content 
            .services__items 
                .service__item.service 
                    .service__image 
                        img(src="./images/icons/service-01.svg", alt="service")
                    h4.service__title UI/UX Design
                    p.service__text Turn what you have in mind of a digital product into reality. For any platform you consider.
                .service__item.service 
                    .service__image 
                        img(src="./images/icons/service-02.svg", alt="service")
                    h4.service__title Application Development
                    p.service__text Standard designing, building, and implementing your applications with documentation.

                .service__item.service 
                    .service__image 
                        img(src="./images/icons/service-03.svg", alt="service")
                    h4.service__title Web Development
                    p.service__text Create and maintain your websites and also take care of its performance and traffic capacity.