section.skills.page__screen
    .container
        .section-header 
            p.section-header__subtitle Learning path
            h2.section-header__title Education & Skills 
        .skills__body 
            .skills__education 
                .timeline
                    .timeline__university Kingston university
                    .timeline__degree Master's degree - Software Engineering
                    .timeline__period 2019 - 2021
                .timeline
                    .timeline__university Kingston university
                    .timeline__degree Bachelor's degree - Computer Engineering
                    .timeline__period 2015 - 2019
                .timeline
                    .timeline__university Westminster School
                    .timeline__degree Diploma's degree - Mathematics
                    .timeline__period 2013 - 2015
            .skills__info
                p.skills__text 
                    | For 5+ years, I have been continuously learning in the field of front-end and experimenting with new technologies and frameworks, and here you can see a summary of my skills.
                .skills__list._anim(data-anim-point="2.5") 
                    .skills__item.skill
                        .skill__name React
                        .skill__progress 
                            span(style="width: 67%;")
                    .skills__item.skill
                        .skill__name Angular
                        .skill__progress 
                            span(style="width: 52%;")
                    .skills__item.skill
                        .skill__name JavaScript
                        .skill__progress 
                            span(style="width: 64%;")
