section.testimonials.page__screen
    .container 
        .blog__header.section-header 
            p.section-header__subtitle My clients
            h2.section-header__title Testimonials 
        .testimonials__items 
            .testimonials__item.testimonial
                .testimonial__avatar 
                    img(src="./images/avatar-01.png" alt="testimonial")
                p.testimonial__quote We were very pleased to hear how you resolved our website's user interface issues and challenges.
                .testimonial__name Amelia Miller
                span.testimonial__position Designer
            .testimonials__item.testimonial
                .testimonial__avatar 
                    img(src="./images/avatar-02.png" alt="testimonial")
                p.testimonial__quote I’m glad I decided to work with you. The project was delivered on time with all the requirements.
                .testimonial__name Isabella Bennett
                span.testimonial__position Developer
            .testimonials__item.testimonial
                .testimonial__avatar 
                    img(src="./images/avatar-03.png" alt="testimonial")
                p.testimonial__quote The management of our projects was always faced with difficulties, but you handled these well.
                .testimonial__name Amelia Miller
                span.testimonial__position Manager

